*

!.gitignore

!*.circ
!*.v
!*.asm

!*.md
!*.png

!*.py
!*.c
!*.cpp

!*.sh
!*.jar

!*.xise
!*.wcfg

!实验/课下提交/P3/P3_testcode.txt
!实验/课下提交/P4/code.txt
!实验/课下提交/P4/code_logisim.txt
!实验/课下提交/P4/output.txt
!实验/课下提交/P5/weak/code.txt
!实验/课下提交/P5/weak/output.txt
!实验/课下提交/P6/weak/code.txt
!实验/课下提交/P6/weak/output.txt
!实验/课下提交/P6/weak/MIPS.txt

!*/

/理论/作业/
/实验/hustzc/
/实验/课下提交/P3/tester_gui

isim/
out/
build/
work/
result/
