*

!.gitignore

!*.circ
!*.v
!*.asm

!*.py
!*.c
!*.cpp
!*.xise

!*.md
!*.png

!*.sh
!*.wcfg

!实验/课下提交/P3/P3_testcode.txt
!实验/课下提交/P4/code.txt
!实验/课下提交/P4/code_logisim.txt
!实验/课下提交/P4/output.txt

!*/

/理论/作业/
/实验/hustzc/
/实验/课下提交/P3/tester_gui

isim/
