*

!.gitignore

!*.circ
!*.v
!*.asm

!*.pdf
!*.md
!*.png

!*.py
!*.c
!*.cpp

!*.sh
!*.jar

!*.xise
!*.wcfg

!实验/课下提交/P3/*.txt
!实验/课下提交/P4/*.txt
!实验/课下提交/P5/weak/*.txt
!实验/课下提交/P6/weak/*.txt
!实验/课下提交/P6/设计文档/*.txt
!实验/课下提交/P7/weak/*.txt

!*/

/理论/作业/
/实验/hustzc/
/实验/课下提交/P3/tester_gui

isim/
out/
build/
work/
result/
